<p>
  <strong>Question_text:</strong>
  <%= @question.text_value %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @question.topic.text_value %>
</p>

<%= render 'follow_form' %>

<%= link_to 'Back', questions_path %>
